<section class='row-alt'>
  <div class='lead container'>
    <h3>Activities</h3>
  </div>
</section>

<section class='row'>
  <div class='grid'>

    <div class='col-1-3'>
      <ul>
        <% @activities.each do |activity| %>
          <li>
            <a href='/activities/<%= activity.id %>'><%= activity.name %></a>
          </li>
        <% end %>
      </ul>
    </div><!--

 --><div class='col-1-3 center-align'>
      <%= yield if block_given? %>
    </div><!--

 --><div class='col-1-3 right-align'>
      <% if @activity %>

        <% if @activity.running? %>
          <form action='/activities/<%= @activity.id %>/stop' method='post'>
            <label class='time-input' for='stop_time'><%= format_time(@activity.start_time) %> - </label>
            <input id='stop_time' class='time-input' type='time' name='stop_time' value='<%= Time.now.stamp('22:24') %>'>
            <button type='submit'>Stop</button>
          </form>

        <% else %>
          <form action='/activities/<%= @activity.id %>/start' method='post'>
            <input class='time-input' type='time' name='start_time' value='<%= Time.now.stamp('22:24') %>'>
            <button type='submit'>Start</button>
          </form>
        <% end %>

        <form action='/activities/<%= @activity.id %>/delete' method='post'>
          <button>Delete Activity</button>
        </form>
      <% end %>
    </div>

  </div>
</section>
